---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container/Container.astro";
import { HOME, SITE } from "@consts";
import Footer from "@components/Footer/Footer.astro";
import linksData from "@db/links.json";

const { links } = linksData;
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="py-16">
      <div class="text-center mb-16">
        <h1 class="text-xl text-gray-400 max-w-2xl mx-auto">
          {SITE.NAME}
        </h1>
				<p>Apasionado por la tecnología y la filosofía</p>
      </div>

			<div>
				{links.map((link) => (
					<article>
						<h2>{link["title-es"]}</h2>
						<ul>
							{link.sections.map((section) => (
								<li>{section["title-es"]}</li>
							))}
						</ul>
					</article>
				))}
			</div>
      

    </div>
  </Container>
  <Footer />
</PageLayout>