---
import { IoBookSharp } from "react-icons/io5";
import Container from "@components/Container/Container.astro";
import { SITE } from "@consts";
---

<header class="fixed top-0 left-0 right-0 z-50 py-1 bg-stone-100/75 dark:bg-stone-900/25 backdrop-blur-sm saturate-200">
  <Container>
    <div class="flex items-center justify-between">
      <a href="/">
        <div class="flex items-center gap-2">
          <div class="border rounded-full flex items-center justify-center p-2">
            <IoBookSharp />
          </div>
          {SITE.NAME}
        </div>
      </a>
    </div>
  </Container>
</header>
